.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  width: 400px;
  margin: 10% auto;
}

.mat-card-title {
  font-size: 16px;
}

.loginButton {
  margin: 10px;
}

.loginFooter {
  margin: 16px;
}

.example-full-width {
  width: 100%;
}
